@model IEnumerable<DataMapping.Entites.Users>
@using DataMapping.Entites;

@{
    ViewBag.Title = DataMapping.Resources.Resource.Users;
    ApplicationDbContext db = new ApplicationDbContext();
}

<div class="row heder_title">
    <div class="col-6">
        <h3 class="blockquote">@DataMapping.Resources.Resource.Users</h3>
    </div>
    <div class="col-6 text-left">
        @if (ViewBag.CanAdd == true)
        {


            <a href="~/Users/AddOrEdit" class="btn btn-outline-info" style="height:32px;">
                @DataMapping.Resources.Resource.Add  <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
        }
        else
        {
            <a href="~/Users/AddOrEdit" class="btn btn-icon icon-left success_butn disabled">
                @DataMapping.Resources.Resource.Add  <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
        }
    </div>
</div>
<div class="row ">
    <div class="col-12">
        <div class="">
            <table class="table table-striped table-bordered table-hover" id="save-stage" style="width:100%;">
                <thead>
                    <tr>
                        <th> @DataMapping.Resources.Resource.LoginName</th>
                        <th> @DataMapping.Resources.Resource.UserName</th>
                        <th> مجموعة المستخدم</th>

                        <th> @DataMapping.Resources.Resource.UserStatus</th>
                        <th> @DataMapping.Resources.Resource.DateCreated</th>
                        <th class="th_width_5">@DataMapping.Resources.Resource.Edit</th>
                        <th class="th_width_5">@DataMapping.Resources.Resource.Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        string status = "غير نشط";
                        var EmpGroup = db.EmployeeGroups.SingleOrDefault(a => a.UsersId == item.Id).GroupId;
                        var group = db.Group.SingleOrDefault(a => a.Id == EmpGroup).NameInArabic;
                        if (item.IsActive == true)
                        {
                            status = " نشط";
                        }
                        var dd = item.Date.ToString("yyyy-MM-dd");


                    <tr>


                        <td>@Html.DisplayFor(modelItem => item.Code)</td>
                        <td>@Html.DisplayFor(modelItem => item.ArbDescription)</td>
                        <td>@group</td>

                        <td>@status</td>
                        <td>@dd</td>
                        <td class="th_width_5">
                            @if (ViewBag.CanEdit == true)
                            {
                                <a href="@Url.Action("UpdateUser", "Users", new { id = @item.Id })" class="btn btn-icon btn-outline-primary"  title="تعديل">
                                    <i class="far fa-edit"></i>
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("UpdateUser", "Users", new { id = @item.Id })"class="btn btn-icon btn-outline-primary disabled"  title="تعديل">
                                    <i class="far fa-edit"></i>
                                </a>
                            }
                        </td>
                        <td class="th_width_5">
                            @if (ViewBag.CanDelete == true)
                            {
                                <a href="@Url.Action("Delete", "Users", new { id = @item.Id })" class="deleteItem btn btn-icon btn-outline-danger">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("Delete", "Users", new { id = @item.Id })" class="deleteItem btn btn-icon btn-outline-danger disabled">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </a>
                            }
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


@section ModelPopup{
    <div id="mainDiv"></div>
    <div class="modal fade" id="deleteConfirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12 text-center warning_icon">
                            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 confirm_text">
                            <h3>تنبيه</h3>
                            <p>هل انت متأكد من الحذف؟</p>
                        </div>
                    </div>
                </div>
                <div class="bg-whitesmoke br">
                    <div class="row">
                        <div class="col-6 text-right">
                            <button id="btnContinueDelete" type="button" class="btn btn-danger">حذف</button>
                        </div>
                        <div class="col-6 text-left">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">رجوع</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section JavaScriptSection{
    <script type="text/javascript">
        function showPopupCreate() {
            $.ajax({
                type: "Get",
                url: "/Unit/AddOrEdit",
                contentType: "application/json; charset=utf-8",
                dataType: "html",
                success: function (result, status, xhr) {

                    $("#mainDiv").html(result);
                    $('#exampleModalCenter').modal('show');
                },
                error: function (xhr, status, error) {
                    $("#dataDiv").html("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                }
            });
        }
        function showPopupEdit(id) {
            $.ajax({
                type: "Get",
                url: "/Unit/AddOrEdit",
                contentType: "application/json; charset=utf-8",
                data: { Id: id },
                dataType: "html",
                success: function (result, status, xhr) {
                    8
                    $("#mainDiv").html(result);
                    $('#exampleModalCenter').modal('show');
                },
                error: function (xhr, status, error) {
                    $("#dataDiv").html("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
                }
            });
        }






        $(document).ready(function () {
            /*  loadData();*/
        });

        //Load Data function
        function loadData() {
            $.ajax({
                url: "/Unit/List",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var html = '';
                    $.each(result, function (key, item) {
                        html += '<tr>';
                        html += '<td>' + item.UnitName + '</td>';
                        html += '<td>' + item.UnitNotes + '</td>';
                        html += '<td> <a href="#" class="btn btn-icon btn-outline-info" onclick="showPopupEdit(' + item.Id + ')"><i class="far fa-edit"></i></a></td>';
                        /**/
                        html += '<td> <a onclick="Delele(' + item.Id + ')" class="deleteItem btn btn-icon btn-outline-danger" data-target="#deleteConfirmModal"><i class="fa fa-trash" aria-hidden="true"></i></a></td>';
                        /**/
                        html += '</tr>';
                    });
                    $('.tbody').html(html);
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }


        function Delele(ID) {
            var ans = confirm("هل  تريد الحذف?");
            if (ans) {
                $.ajax({
                    url: "/Users/Delete/" + ID,
                    type: "POST",
                    contentType: "application/json;charset=UTF-8",
                    dataType: "json",
                    success: function (result) {
                        alert("ahhhhh")
                    //    if (result == false) {

                    //        toastr.error("لا يمكن حذف السجل لوجود سجلات اخرى مرتبطه به");
                    //    }
                    //    else {
                    //        loadData();
                    //    }
                    //}
                    },
                    error: function (errormessage) {
                        alert(errormessage.responseText);
                    }
                });
            }

        }

    </script>
}
