@model IEnumerable<DataMapping.Entites.GroupSecurityRole>
@using DataMapping.Entites


@{
    ApplicationDbContext db = new ApplicationDbContext();

}}
<script>
    function SubmitForm() {
        debugger;
        $("#GroupIds").val($("#GroupId").val());
        //alert($("#GroupIds").val());
        //$("#rolesForm").attr('target', '_self');
        $("#groupRolesForm").submit();
    }
</script>

<form id="groupRolesForm" action="@Url.Action("GetGroupRoles")" method="post" enctype="multipart/form-data">
    @Html.Hidden("GroupIds")
    <table class="table table-striped table-hover table-bordered">

        <thead>
            <tr>
                <th>اسم القائمة</th>

                <th>اسم الصفحة |  اختيار الكل <input type="checkbox" /></th>

                <th>@DataMapping.Resources.Resource.CanView</th>
                <th>@DataMapping.Resources.Resource.CanAdd</th>
                <th>@DataMapping.Resources.Resource.CanEdit</th>
                <th>@DataMapping.Resources.Resource.CanDelete</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                var parent = db.SystemFunction.SingleOrDefault(a => a.Id == item.Id).SystemFunctionParentsId;
                var parentName = db.SystemFunctionParent.SingleOrDefault(a => a.Id == parent).NameInArabic;
            <tr>
                <td>@parentName</td>

                <td>@item.SystemFunction.NameInArabic</td>
                @{
                    string CanView = item.CanView ? "checked" : "";
                    string CanAdd = item.CanAdd ? "checked" : "";
                    string CanEdit = item.CanEdit ? "checked" : "";
                    string CanDelete = item.CanDelete ? "checked" : "";
                }
                <td class="text-center">
                    <input type="checkbox" name="CanView" id="@string.Format("CanView" + item.Id)" class="custom-checkbox" value="@item.Id" @CanView />
                </td>
                <td class="text-center">
                    <input type="checkbox" name="CanAdd" id="@string.Format("CanAdd" + item.Id)" class="custom-checkbox" value="@item.Id" @CanAdd />
                </td>
                <td class="text-center">
                    <input type="checkbox" name="CanEdit" id="@string.Format("CanEdit" + item.Id)" class="custom-checkbox" value="@item.Id" @CanEdit />
                </td>
                <td class="text-center">
                    <input type="checkbox" name="CanDelete" id="@string.Format("CanDelete" + item.Id)" class="custom-checkbox" value="@item.Id" @CanDelete />
                </td>
            </tr>
            }
        </tbody>

    </table>
</form>


<script type="text/javascript">
    $(function () {
        $('th > :checkbox').click(function () {
            $(this).closest('table')
                .find('td > :checkbox')
                .attr('checked', $(this).is(':checked'));
        });
    });
</script>

