@using DataMapping.Entites;
@model Users
@{
    ViewBag.Title = "";
    ApplicationDbContext db = new ApplicationDbContext();
    //ViewBag.BrancheId = new SelectList(db.Branches.Where(a => a.IsDeleted == false).ToList(), "Id", "BranchesName");
}
@{ Layout = null;}

<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@DataMapping.Resources.Resource.login</title>
    <link rel="stylesheet" href="~/Design/assets/css/login.css">

</head>

<body >
  
   
    <main>
        <section class="words-Section">
          
            <img class="foods-img"src="~/Design/assets/img/foods.png" />
            <div class="info">
                <div class="logo">
                    <img src="~/Design/assets/img/LOGO.png" />
                </div>
                <div class="words">Clean Eating 7 days Meal Plan</div>
                <div class="words_p">
                    <p>
                        Take control of your diet,and get into the best shape of your
                        life.
                    </p>
                </div>
            </div>
        </section>
        <section class="form-section">
            <div class="form-logo">

                <img class="logo-with-words" src="~/Design/assets/img/logoWord.png" />
            </div>
            @using (Html.BeginForm("Index", "Login", new
            {
                Lang = 0,
                ReturnUrl = ViewBag.ReturnUrl@*, BranchId = 11*@ }, FormMethod.Post, new { @class = "form-horizontal login100-form", role = "form" }))
            {

                <label class="login_label" for="username">@DataMapping.Resources.Resource.UserName</label>

                @Html.TextBoxFor(m => m.Code, new { Value = ViewBag.code, @class = "input", @type = "text", @name = "email", @placeholder = "User Name", @id = "username" })
                @Html.ValidationMessageFor(model => model.Code)

                <label class="login_label" for="phone">@DataMapping.Resources.Resource.Password</label>
                @Html.TextBoxFor(m => m.Password, new { Value = ViewBag.Password, @class = "input", @type = "password", @name = "pass", @placeholder = "Password", @id = "phone" })
                @Html.ValidationMessageFor(model => model.Password)
                <input type="submit" value="@DataMapping.Resources.Resource.login" tabindex="4" id="login-button">
                @*<a href="" id="login-button">Login</a>*@
                if (ViewBag.TestlicenceType == false)

                {
                    <p>@Session["IsTrial"]</p><a href="~/Login/Activation" class="btn btn-primary">تفعيل</a>
                }

                else if (ViewBag.TestlicenceType == true)

                {
                    <a href="~/Login/Activation" hidden class="btn btn-primary">تفعيل</a>
                }
            }
            
            </section>
        </main>
     

</body>

</html>


